/* Alterando fontes */
p {
    font-family: Arial, Helvetica, sans-serif;
}
nav , .botao button {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/*Alterando color do header e body*/
header,footer {
    background-image: var(--bs-gradient);
}

header {
    position: sticky;
    top:0;
    left: 0;
    background-color: #fff;
    z-index: 10;
}

#galeria .tamanho {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

#videos video {
    width: 300px;
    height: 300px;
    object-fit: cover;
    z-index: 1;
}

.botao-inscricao {
    background-color: #25D366;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    font-size: 20px;
    transition:background 0.3s ease;
}
.botao-inscricao:hover {
    background-color: #128C7E;
}


.lista h3 {
    color: #2c3e50;
}

ul {
    list-style-type: none ;
    color: #333;
}